    footer table {
    margin: 0 auto;
}

footer td {
    padding: 0 20px;
}

.field-when-and-where table {
    margin: 0 auto;
}

.when {
    padding-right: 25px;
}

.when img, .where img {
    width: 100px;
    height: 100px;
}

.when .field-name-field-title {
    color: #ef3f4a;
}

.where .field-name-field-title {
    color: #419185;
}

.when .field-name-field-description, .where .field-name-field-description {
    font-size: 16px;
    padding-bottom: 20px;
}

.when .field-name-field-button {
    background-color: #ef3f4a;
    border-radius: 7px;
    color: #ffffff;
    display: block;
    margin: 0 auto;
    padding: 5px 10px;
    text-align: center;
    width: 100px;
}

.where .field-name-field-button {
    background-color: #419185;
    border-radius: 7px;
    color: #ffffff;
    display: block;
    margin: 0 auto;
    padding: 5px 10px;
    text-align: center;
    width: 100px;
}

.field-tradition-photos {
    border-top: 2px dotted #419185;
    margin-top: 25px;
    padding-top: 25px;
    text-align: center
}

.field-tradition-photos img {
    border-radius: 8px;
    max-width: none;
    margin: 25px 12px 0  0;
    border:5px solid #FFF
}
.field-tradition-photos .field-content {margin-left: 60px;text-align: left;}

.page-eform-submit-new-idea #edit-field-published {
    display: none;
}

#block-belgium-ideas {
    width: 640px;
    margin: 0 auto;
}

.idea-list {
    display: inline-block;
    /*width: 250px;*/
}

section.field-requirements-list {
    text-align: left;
    min-height: 300px;
    clear: left;
}

ul.idea-list {
   /* list-style-image: url("/sites/default/files/default_images/list1.png");*/
    list-style-position: outside;
    list-style: none;
}

li .title a {
    font-family: "Schoolbell",cursive,bold;
    font-size: 22px;
    color: #ef3f4a;
}

.btn-to-list {
    background-color: #ef3f4a;
    border-radius: 8px;
    clear: left;
    color: #ffffff;
    float: right;
    font-weight: 500;
    height: 50px;
    padding: 5px 20px;
    text-align: center;
    width: 140px;
    margin-top: -75px;
}

.btn-to-list a, .btn-to-list a:active, .btn-to-list a:hover {
    color: #ffffff;
}

.title-wrap {
    display: inline-block;
    vertical-align: top;
}

.zelf {
    font-size: 60px;
}

.idea-list li {
    width: 50%;
    padding-bottom: 25px;
    float: left;
}

.idea-list li.even {
    float: left;
}

.idea-list li.odd {
    float: right;
}