footer table {
    margin: 0 auto;
}

footer td {
    padding: 0 20px;
}

.field-when-and-where table {
    margin: 0 auto;
}

.when {
    padding-right: 25px;
}

.when img, .where img {
    width: 100px;
    height: 100px;
}

.when .field-name-field-title {
    color: #ef3f4a;
}

.where .field-name-field-title {
    color: #419185;
}

.when .field-name-field-description, .where .field-name-field-description {
    font-size: 16px;
    padding-bottom: 20px;
}

.when .field-name-field-button {
    background-color: #ef3f4a;
    border-radius: 7px;
    color: #ffffff;
    display: block;
    margin: 0 auto;
    padding: 5px 10px;
    text-align: center;
    width: 100px;
}

.where .field-name-field-button {
    background-color: #419185;
    border-radius: 7px;
    color: #ffffff;
    display: block;
    margin: 0 auto;
    padding: 5px 10px;
    text-align: center;
    width: 100px;
}

.field-tradition-photos {
    border-top: 2px dotted #419185;
    margin-top: 25px;
    padding-top: 25px;
    text-align: center
}

.field-tradition-photos img {
    border-radius: 8px;
    max-width: none;
    margin: 25px 25px 0  0;
}

.page-eform-submit-new-idea #edit-field-published {
    display: none;
}